<div class="container p-4 overflow-auto">
    <div class="row">
        <div class="col-md-12 conl-lg-12 col-sm-12 mx-auto columna">
            <div class="card text-center">
                <div class="card-body">
                    <h3>{{user.fullname}}</h3>
                    <ul class="list-group list-group-flush">
                        <p>Your Bookings:</p>
                        <table id="tabla_bookings" class="table-responsive-sm table-responsive-lg mx-auto pt-2 events">
                            {{#each bookings}}
                            <thead>
                                
                                <tr>
                                    <th scope="col">Date</th>
                                    <th scope="col">Hour</th>
                                    <th scope="col">Phone</th>
                                    <th></th>
                                </tr>
                            </thead>
                            
                            <tr>
                                <li>
                                    <td>{{bk_date}}</td>
                                    <td>{{bk_time}}</td>
                                    <td>{{phone}}</td>
                                    <td>
                                        <a href="/booking_delete/{{id}}" class="btn btn-danger">
                                            <i class="fas fa-trash-alt"></i>
                                        </a>
                                    </td>
                                </li>
                            </tr>
                            {{else}}
                            <p>There are no bookings yet.</p>
                            <a href="/booking">Reserve one now!</a>
                            {{/each}}
                        </table>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>